body{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}
.primary{
    color: #F5AB35 !important;
}
.bg{
    background-color: #f9f9f9;
    height: 100%;
}
.list{
    list-style: none;
}
a{
    text-decoration: none;
}
.none{
    content: none;
}
.container{
    width: 90%;
    margin: auto;
}
.header{
    line-height: 3;
}
.header .logo{
    width: 40%;
    float: left;
    display: inline-block;
}
.header .logo a{
    font-weight: bold;
    color: #222222;
    font-size: 25px;
}
.header .menu{
    margin-bottom: 11px;
    float: left;
    display: inline-block;
}
.header .menu li{
    
    display: inline-block;
    padding: 0;
    justify-content: end;  
}
.header .menu li a{
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    padding-left: 20px;
    position: relative;
}
.header .menu li .lst::after{
    content: ".";
    position: absolute;
    top: -27px;
    color: #222222;
    left: 6px;
    font-size: 20px;
}
.content{
    width: 100%;
    height: 450px;
    position: relative;
}
.img{
    background-image: url(../img/about-hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    background-position: center;
}
.content .text{
    position: absolute;
    top: 125px;
    left: 27%;
    color: #FFFFFF;
    line-height: 0;
    text-align: center;
}
.content .icon{
    position: absolute;
    bottom: 10px;
    left: 27%;
    color: #FFFFFF;
}
.container .text h1{
    font-weight: 700;
    font-size: 118px;
}
.content .text p{
    font-size: 21px;
    letter-spacing: 0.3em;
    
}
.setting{
    position: fixed;
     top: 190px;
    left: 0%;
    width: 55px;
    height: 55px;
    border: 1px solid #DDDDDD;
    border-left: none;
    text-align: center;
    background: #FFFFFF;
    color: #333333;
     background-color: #FFFFFF;
    box-shadow: 6px 5px rgba(0,0,0,0.1);
}
.setting a{
    
    /* right: -65px;
    outline: none; */
    /* border: 1px solid #DDDDDD;
    border-left: none;
    text-align: center;
    background: #FFFFFF; */
    color: #333333;
    font-size: 2em;
    /* padding: 6px; */
    line-height: 55px;
    
    
}
.setting a i{
    animation: setting 2s infinite linear;
}
@keyframes setting{
    from { transform: rotate(0deg)}
    to { transform: rotate(360deg)}

}
.content .icon{
    position: absolute;
    bottom: 25px;
    left: 51%;
    color: #FFFFFF;
}
.content .icon i{
    font-size: 37px;
}
.design{
    height: 500px;
    margin-top: 5%;
}
.design .special{
    width: 90%;
    margin: 0 auto;

}
.design .special .left{
    width: 40%;
    float: left;
    display: inline-block;
}
.design .special .left h5{
    font-size: 15px;
    color: #cccccc;
    text-align: left;
    padding-top: 60px;  
    line-height: 0;
}
.design .special .left h2{
    color: #333333;
    font-size: 49px;
    font-weight: 100;
    margin-top: 0;
    
}
.design .special .left h2::after{
    content: "";
    display: block;
    border-bottom: 1px solid #F5AB35;
    background-color: #F5AB35;
    height: 4px;
    width: 30px;
    margin-top: 20px;
}
.design .special .left p{
    color: #777777;
    margin-top: 20px;
    font-size: 22px;
}
.design .special .right{
    width: 60%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 170px 0;
}
.design .special .right i{
    color: #F5AB35;
    font-size: 87px;
    
}
.design ,.special .right h3{
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}
.social{
    width: 33%;
    float: left;
    display: inline-block;
    margin-left: 2px;
    color: #333333;
}